<!DOCTYPE html>
<html>
  <head>
    <title>Commisson-free Cryptocurrency Exchange | Robinhodl</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('robinhood_favicon.png') %>
  </head>

  <body>
    <%= yield %>

    <% if current_user %>
      <script type="text/javascript">
        window.currentUser = {
          "id": "<%=current_user.id%>",
          "email": "<%=current_user.email%>"
        };
      </script>       
    <% end %>

    <script type="text/javascript">
      window.robinhood_favicon = "<%= image_url('robinhood_favicon.png') %>";
      window.robinhood_favicon_black = "<%= image_url('robinhood_favicon_black.png') %>";
    </script>

  </body>
</html>
