<!DOCTYPE html>
<html>
  <head>
    <title>Robinhodl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">
      window.cannabisURL = "<%= image_url('cannabis.png') %>";
    </script>
    <script type="text/javascript">
      window.favicon-1616 = "<%= image_url('favicon-1616.png') %>";
    </script>

    <%= favicon_link_tag asset_path('favicon-1616.png') %>
    <!-- <%= favicon_link_tag asset_path('favicon-16x16.png') %> --> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
