<!DOCTYPE html>
<html>
  <head>
    <title>Commisson-free Cryptocurrency Exchange | Robinhodl</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('robinhood_favicon.png') %>
    <script src="https://kit.fontawesome.com/bdc91c31f4.js" crossorigin="anonymous"></script>
    <meta property="og:title" content="Robinhodl" />
    <meta property='og:image' content="<%= image_url('https://firebasestorage.googleapis.com/v0/b/scroople-25727.appspot.com/o/Screen%20Shot%202021-10-12%20at%2010.33.02.png?alt=media&token=e2547aa2-3453-450e-884f-586051043ed5') %>"/>
    <meta property="og:description"content="Robinhodl | Fake crypto currency trading"/>
    <meta property="og:url" content="http://robinhodl.app/"/>
  </head>

  <body>
    <%= yield %>

    <% if current_user %>
      <script type="text/javascript">
        window.currentUser = {
          id: "<%= current_user.id %>",
          email: "<%= current_user.email %>",
          transfers: "<%= current_user.transfers %>"
        };
      </script>       
    <% end %>

    <script type="text/javascript">
      window.robinhood_favicon = "<%= image_url('robinhood_favicon.png') %>";
      window.favicon_hover = "<%= image_url('favicon_hover.png') %>";
      window.robinhood_favicon_black = "<%= image_url('robinhood_favicon_black.png') %>";
      window.robinhood_favicon_org = "<%= image_url('robinhood_favicon_org.png') %>";
      window.offer_image = "<%= image_url('offer-img.png') %>";
      window.offer_video = "<%= image_url('offer-video.mp4') %>";
      window.graph_dummy = "<%= image_url('graph-dummy.png') %>";
      window.balloon = "<%= image_url('balloon.png') %>";
      window.learn = "<%= image_url('learn.png') %>";
      window.manage = "<%= image_url('manage.png') %>";
      window.customize = "<%= image_url('customize.png') %>";
      window.snacks = "<%= image_url('snacks.png') %>";
      window.frac_shares = "<%= image_url('fractional_shares.png') %>";
    </script>

  </body>
</html>
